.hover-3d {
    transition: transform 0.2s;
    transform: perspective(1000px) rotateX(0deg) rotateY(0deg);
  }
  
  .hover-3d:hover {
    transform: perspective(1000px) rotateX(-10deg) rotateY(10deg);
  }